{% extends "layout.html.twig" %}

{% block head %}
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Dota 2饰品， 资讯</title>
    <!-- vendor css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="/static/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/animate/animate.min.css">
    <!-- theme css -->
    <link rel="stylesheet" href="/static/css/theme.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
{% endblock %}
{% block content %}



    <!-- header -->
    <header id="header">
        <div class="container">
            <div class="navbar-backdrop">
                <div class="navbar">
                    <div class="navbar-left">
                        <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
                        <a href="index.html" class="logo"><img src="/static/img/logo.png"
                                                               alt="Gameforest - Game Theme HTML"></a>
                        <nav class="nav">
                            <ul>
                                <li class="has-dropdown">
                                    <a href="index.html">Home</a>
                                    <ul>
                                        <li><a href="home-magazine.html">Home Magazine</a></li>
                                        <li><a href="home-blog.html">Home Blog</a></li>
                                        <li><a href="index.html">Home Games</a></li>
                                        <li><a href="home-videos.html">Home Videos</a></li>
                                        <li><a href="home-streamer.html">Home Streamer</a></li>
                                        <li><a href="home-coming-soon.html">Home Coming Soon</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown mega-menu mega-games">
                                    <a href="games.html">Games</a>
                                    <ul>
                                        <li>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="img">
                                                            <a href="game-post.html"><img src="/static/img/menu/menu-1.jpg"
                                                                                          alt="Last of Us: Part 2"></a>
                                                            <span class="badge badge-ps4">PS4</span>
                                                        </div>
                                                        <h4><a href="game-post.html">Grand Theft Auto V</a></h4>
                                                        <span>Jun 29, 2019</span>
                                                    </div>
                                                    <div class="col">
                                                        <div class="img">
                                                            <a href="game-post.html"><img src="/static/img/menu/menu-2.jpg"
                                                                                          alt="Injustice 2"></a>
                                                            <span class="badge badge-steam">Steam</span>
                                                        </div>
                                                        <h4><a href="game-post.html">Injustice 2</a></h4>
                                                        <span>June 10, 2017</span>
                                                    </div>
                                                    <div class="col">
                                                        <div class="img">
                                                            <a href="game-post.html"><img src="/static/img/menu/menu-3.jpg"
                                                                                          alt="Bioshock: Infinite"></a>
                                                            <span class="badge badge-xbox-one">Xbox One</span>
                                                        </div>
                                                        <h4><a href="game-post.html">Bioshock: Infinite</a></h4>
                                                        <span>May 16, 2017</span>
                                                    </div>
                                                    <div class="col">
                                                        <div class="img">
                                                            <a href="game-post.html"><img src="/static/img/menu/menu-4.jpg"
                                                                                          alt="Batman: Arkham Knight"></a>
                                                            <span class="badge badge-ps4">PS4</span>
                                                        </div>
                                                        <h4><a href="game-post.html">Batman: Arkham Knight</a></h4>
                                                        <span>May 10, 2017</span>
                                                    </div>
                                                    <div class="col">
                                                        <div class="img">
                                                            <a href="game-post.html"><img src="/static/img/menu/menu-5.jpg"
                                                                                          alt="Bioshock: Infinite"></a>
                                                            <span class="badge badge-pc">PC</span>
                                                        </div>
                                                        <h4><a href="game-post.html">Hitman Absolution</a></h4>
                                                        <span>May 10, 2017</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="blog.html">Blog</a>
                                    <ul>
                                        <li class="has-dropdown">
                                            <a href="blog.html">Blog Default</a>
                                            <ul>
                                                <li><a href="blog.html">Blog Lists</a></li>
                                                <li><a href="blog-sidebar.html">Sidebar</a></li>
                                                <li><a href="blog-post.html">Single Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="blog-medium.html">Blog Medium</a>
                                            <ul>
                                                <li><a href="blog-medium.html">Blog Lists</a></li>
                                                <li><a href="blog-post-medium.html">Single Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog-cards.html">Blog Cards</a></li>
                                        <li><a href="blog-columns.html">Blog Columns</a></li>
                                        <li><a href="blog-timeline.html">Blog Timeline</a></li>
                                        <li class="has-dropdown">
                                            <a href="blog-post.html">Blog Single</a>
                                            <ul>
                                                <li><a href="blog-post.html">Image Post</a></li>
                                                <li><a href="blog-post-carousel.html">Carousel Post</a></li>
                                                <li><a href="blog-post-video.html">Video Post</a></li>
                                                <li><a href="blog-post-audio.html">Audio Post</a></li>
                                                <li><a href="blog-post-disqus.html">Disqus Comments</a></li>
                                                <li><a href="blog-post-facebook.html">Facebook Comments</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="videos.html">Videos</a></li>
                                <li class="has-dropdown">
                                    <a href="forums.html">Forums</a>
                                    <ul>
                                        <li><a href="forums.html">Forum</a></li>
                                        <li><a href="forum-topic.html">Forum Topic</a></li>
                                        <li><a href="forum-post.html">Forum Post</a></li>
                                        <li><a href="forum-create.html">Forum Create</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#">Pages</a>
                                    <ul>
                                        <li class="has-dropdown">
                                            <a href="games.html">Games</a>
                                            <ul>
                                                <li><a href="games.html">Game Lists</a></li>
                                                <li><a href="game-post.html">Game Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="reviews.html">Reviews</a>
                                            <ul>
                                                <li><a href="reviews.html">Review Lists</a></li>
                                                <li><a href="review-post.html">Review Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="forums.html">Forums</a>
                                            <ul>
                                                <li><a href="forums.html">Forum</a></li>
                                                <li><a href="forum-topic.html">Forum Topic</a></li>
                                                <li><a href="forum-post.html">Forum Post</a></li>
                                                <li><a href="forum-create.html">Forum Create</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                        <li class="has-dropdown">
                                            <a href="videos.html">Videos</a>
                                            <ul>
                                                <li><a href="videos.html">Video Lists</a></li>
                                                <li><a href="video-post.html">Video Post</a></li>
                                            </ul>
                                        </li>
                                        <li class="has-dropdown">
                                            <a href="#">User</a>
                                            <ul>
                                                <li><a href="profile.html">Profile</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="login-2.html">Login 2</a></li>
                                                <li><a href="register.html">Register</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="full-width.html">Full Width</a></li>
                                        <li><a href="blank-page.html">Blank Page</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown mega-menu">
                                    <a href="#">Components</a>
                                    <ul style="background-image: url('/static/img/menu/mega-menu.png');">
                                        <li>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col">
                                                        <span class="title">General</span>
                                                        <a href="components-typography.html"><i
                                                                    class="fa fa-text-width"></i> Typography</a>
                                                        <a href="components-utilities.html"><i class="fa fa-medkit"></i>
                                                            Utilities</a>
                                                        <a href="components-alerts.html"><i class="fa fa-bell-o"></i>
                                                            Alerts</a>
                                                        <a href="components-badges.html"><i
                                                                    class="fa fa-bookmark-o"></i> Badges</a>
                                                        <a href="components-columns.html"><i class="fa fa-columns"></i>
                                                            Columns</a>
                                                        <a href="components-pagination.html"><i
                                                                    class="fa fa-arrows-h"></i> Pagination</a>
                                                        <a href="components-popovers.html"><i class="fa fa-hdd-o"></i>
                                                            Popovers &amp; Tooltips</a>
                                                        <a href="components-media-player.html"><i
                                                                    class="fa fa-film"></i> Media Player</a>
                                                    </div>
                                                    <div class="col">
                                                        <span class="title">Buttons &amp; Icons</span>
                                                        <a href="components-buttons.html"><i
                                                                    class="fa fa-hand-pointer-o"></i> Buttons</a>
                                                        <a href="components-dropdowns.html"><i class="fa fa-magnet"></i>
                                                            Dropdowns</a>
                                                        <a href="components-icons.html"><i class="fa fa-smile-o"></i>
                                                            Icons</a>
                                                        <a href="components-social.html"><i class="fa fa-facebook"></i>
                                                            Social</a>
                                                        <a href="components-hero.html"><i class="fa fa-thumb-tack"></i>
                                                            Hero</a>
                                                        <a href="components-cards.html"><i
                                                                    class="fa fa-sticky-note-o"></i> Cards</a>
                                                        <a href="components-widgets.html"><i class="fa fa-th-large"></i>
                                                            Widgets</a>
                                                        <a href="components-notifications.html"><i
                                                                    class="fa fa-snowflake-o"></i> Notifications</a>
                                                    </div>
                                                    <div class="col">
                                                        <span class="title">Elements</span>
                                                        <a href="components-progress-bars.html"><i
                                                                    class="fa fa-battery-3"></i> Progress Bars</a>
                                                        <a href="components-modals.html"><i
                                                                    class="fa fa-window-maximize"></i> Modals</a>
                                                        <a href="components-lightbox.html"><i class="fa fa-clone"></i>
                                                            Lightbox</a>
                                                        <a href="components-charts.html"><i class="fa fa-bar-chart"></i>
                                                            Charts</a>
                                                        <a href="components-tables.html"><i class="fa fa-table"></i>
                                                            Tables</a>
                                                        <a href="components-data-tables.html"><i
                                                                    class="fa fa-list-alt"></i> Data Tables</a>
                                                        <a href="components-tabs.html"><i class="fa fa-th"></i> Tabs</a>
                                                        <a href="components-accordions.html"><i
                                                                    class="fa fa-th-list"></i> Accordions</a>
                                                    </div>
                                                    <div class="col">
                                                        <span class="title">Forms &amp; Info</span>
                                                        <a href="components-form-controls.html"><i
                                                                    class="fa fa-pencil"></i> Form Controls</a>
                                                        <a href="components-form-plugins.html"><i
                                                                    class="fa fa-calendar-o"></i> Form Plugins</a>
                                                        <a href="components-form-layouts.html"><i
                                                                    class="fa fa-file-o"></i> Form Layouts</a>
                                                        <a href="components-text-editor.html"><i
                                                                    class="fa fa-file-text"></i> Text Editor</a>
                                                        <a href="components-carousel.html"><i
                                                                    class="fa fa-picture-o"></i> Carousel</a>
                                                        <a href="components-google-maps.html"><i
                                                                    class="fa fa-map-marker"></i> Google Maps</a>
                                                        <a href="components-promo-boxes.html"><i
                                                                    class="fa fa-unlink"></i> Promo Boxes</a>
                                                        <a href="components-video-background.html"><i
                                                                    class="fa fa-video-camera"></i> Video Background</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="nav navbar-right">
                        <ul>
                            <li class="hidden-xs-down"><a href="login.html">Login</a></li>
                            <li class="hidden-xs-down"><a href="register.html">Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </header>
    <!-- /header -->

    <!-- main -->
    <section class="hero" style="background-image: url('https://img.youtube.com/vi/BhTkoDVgF6s/maxresdefault.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="hero-block">
                <h2 class="hero-title">The Witcher 3: Don't Miss This Hidden Contract</h2>
                <p>The world is in chaos. The air is thick with tension and the smoke of burnt villages.</p>
                <a class="btn btn-primary btn-lg btn-shadow btn-md btn-rounded" href="blog-post.html" role="button">Read
                    More</a>
            </div>
        </div>
    </section>



    <section class="p-t-40 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- post -->
                    {% for article in articles %}
                        <div class="post">
                            <div class="post-header">
                                <div>
                                    <a href="profile.html">
                                        <img src="/static/img/user/user-1.jpg" alt="">
                                    </a>
                                </div>
                                <div>
                                    <h2 class="post-title">
                                        <a href="blog-post.html">
                                            {{ article.title }}
                                        </a>
                                    </h2>
                                    <div class="post-meta">
                                        <span>
                                            <i class="fa fa-clock-o"></i>
                                            {{ article.created_at }} by
                                            <a href="profile.html">{{ article.author }}</a>
                                        </span>
                                        {#<span><a href="blog-post.html#comments"><i class="fa fa-comment-o"></i> 98 comments</a></span>#}
                                    </div>
                                </div>
                            </div>
                            <div class="post-thumbnail">
                                <img src="/static/img/blog/blog-1.jpg"
                                     alt="Uncharted The Lost Legacy First Gameplay Details Revealed">
                            </div>
                            {{ article.summary }}
                        </div>
                    {% else %}
                        <h2>没有找到文章</h2>
                    {% endfor %}

                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span
                                            aria-hidden="true"><i class="fa fa-angle-left"></i></span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="separate"><span>...</span></li>
                            <li class="page-item"><a class="page-link" href="#">25</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span
                                            aria-hidden="true"><i class="fa fa-angle-right"></i></span></a></li>
                        </ul>
                    </nav>
                </div>

                <!-- sidebar -->
                <div class="col-lg-4">
                    <div class="sidebar">
                        <!-- widget post -->
                        <div class="widget widget-post">
                            <h5 class="widget-title">Popular on Gameforest</h5>
                            <a href="blog-post.html"><img src="/static/img/blog/blog-widget-popular-1.jpg" alt=""></a>
                            <h4><a href="blog-post.html">Red Dead Redemption Being Modded Into GTA5 Multiplayer</a></h4>
                            <span><i class="fa fa-clock-o"></i> June 16, 2017</span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel neque sed anter.</p>
                            <ul class="widget-list">
                                <li>
                                    <div class="widget-img"><a href="blog-post.html"><img
                                                    src="/static/img/blog/blog-widget-1.jpg" alt=""></a></div>
                                    <div>
                                        <h4><a href="blog-post.html">Dead Island 2 and Escape Impressions</a></h4>
                                        <span>July 16, 2017</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-img"><a href="blog-post.html"><img
                                                    src="/static/img/blog/blog-widget-2.jpg" alt=""></a></div>
                                    <div>
                                        <h4><a href="blog-post.html">How to Finish Mafia 3 With All of Your
                                                Underbosses</a></h4>
                                        <span>June 29, 2017</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-img"><a href="blog-post.html"><img
                                                    src="/static/img/blog/blog-widget-3.jpg" alt=""></a></div>
                                    <div>
                                        <h4><a href="blog-post.html">Spider-Man Spin-Off, Venom, Gets Release Date</a>
                                        </h4>
                                        <span>June 15, 2017</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-img"><a href="blog-post.html"><img
                                                    src="/static/img/blog/blog-widget-4.jpg" alt=""></a></div>
                                    <div>
                                        <h4><a href="blog-post.html">Is Ghost Recon: Wildlands Worth Your Time?</a></h4>
                                        <span>June 13, 2017</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- widget newsletter -->
                        <div class="widget widget-newsletter">
                            <div class="widget-block" style="background-image: url('/static/img/widget/widget-newsletter.jpg')">
                                <div class="overlay"></div>
                                <form>
                                    <p>Get notification when new games are available on gameforest.</p>
                                    <div class="form-group input-icon-right">
                                        <input type="email" class="form-control" placeholder="Email address...">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
                                </form>
                            </div>
                        </div>

                        <!-- widget tags -->
                        <div class="widget widget-tags">
                            <div class="post-tags">
                                <a href="#">#playstation 4</a>
                                <a href="#">#remastered</a>
                                <a href="#">#uncharted</a>
                                <a href="#">#game</a>
                                <a href="#">#blood and wine</a>
                                <a href="#">#games</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /main -->

    <!-- footer -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <h4 class="footer-title">About Gameforest</h4>
                    <p>Gameforest is a Bootstrap Gaming theme. Build your own gaming theme with gameforest and you will
                        love to use it. Clean and pure coded HTML, CSS files what is included in your downloaded
                        package.</p>
                    <p>Attached more then 60+ HTML pages and customized elements. Copy and paste your favourite section
                        or build your own so easily.</p>
                </div>

                <div class="col-sm-12 col-md-3">
                    <h4 class="footer-title">Platform</h4>
                    <div class="row">
                        <div class="col">
                            <ul>
                                <li><a href="#">Playstation 4</a></li>
                                <li><a href="#">Xbox One</a></li>
                                <li><a href="#">PC</a></li>
                                <li><a href="#">Steam</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul>
                                <li><a href="games.html">Games</a></li>
                                <li><a href="reviews.html">Reviews</a></li>
                                <li><a href="videos.html">Videos</a></li>
                                <li><a href="forums.html">Forums</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4">
                    <h4 class="footer-title">Subscribe</h4>
                    <p>Subscribe to our newsletter and get notification when new games are available.</p>
                    <div class="input-group m-t-25">
                        <input type="text" class="form-control" placeholder="Email">
                        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">

                <p>Copyright &copy; 2017 <a
                            href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/5007730"
                            target="_blank">Gameforest</a>. All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- /footer -->

    <!-- vendor js -->
    <script src="/static/plugins/jquery/jquery-3.2.1.min.js"></script>
    <script src="/static/plugins/popper/js/popper.min.js"></script>
    <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- plugins js -->
    <script src="/static/plugins/sticky/jquery.sticky.js"></script>

    </body>
    </html>


{% endblock %}