<!DOCTYPE html>
<html lang="zh">
<head>
    {# 页头 #}
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}首页{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {# 页面主体内容 #}
    {% block content %}

    {% endblock %}

    {# 页脚 #}
    {% block footer %}
    {% endblock %}
</body>
</html>